/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v29-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v29-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v29-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

ol,
ul {
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
}

:root {
  --primary-color: #00b894;
  --secondary-color: #ffffff;
  --background-color: #121212;
  --card-background-color: #1e1e1e;
  --text-color: #dfe6e9;
  --muted-text-color: #636e72;
  --border-color: #2d2d2d;
  --hover-color: #019a76;
  --link-color: #74b9ff;
  --footer-background: #181818;
  --slate-color: rgb(39, 39, 39);
  --header-title: rgb(28, 28, 28);
}

body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--background-color);
}

body.light-mode {
  --primary-color: #00b894;
  --secondary-color: #000000;
  --background-color: #ffffff;
  --card-background-color: #f9f9f9;
  --text-color: #2d3436;
  --muted-text-color: #636e72;
  --border-color: #e0e0e0;
  --hover-color: #019a76;
  --link-color: #0984e3;
  --footer-background: #f1f1f1;
  --slate-color: rgb(245, 245, 245);
  --header-title: #ffffff;
}

img {
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
}

main {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 120px;
  padding-right: 120px;
}

h1 {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2;
}

h3 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
}

h4 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2;
}

.header {
  border-bottom: 1.5px solid rgb(51, 51, 51);
}
.header__container {
  display: flex;
  justify-content: space-between;
  margin-top: 2.7rem;
  margin-bottom: 2.7rem;
  align-items: center;
}
.header__one {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header__text {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
}
.header__title {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2;
  background-color: var(--header-title);
  color: var(--secondary-color);
  border: none;
}
.header__two {
  display: flex;
  align-items: center;
}
.header__textss {
  margin-right: 2.4rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2;
  color: var(--text-color);
}
.header__item {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 14.2rem;
  height: 5.8rem;
  background-color: rgb(41, 151, 100);
  border-radius: 10rem;
  padding: 1.8rem 1.8rem 1.8rem 3rem;
}
.header__texts {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
  color: #fff;
}
.header__themeToggler {
  background-color: var(--slate-color);
  border-radius: 50%;
  padding: 2.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 1.6rem;
  border: 1px solid transparent;
}

.sitenav__container {
  background-image: url("../../images/Component 13.png");
  background-repeat: no-repeat;
  width: 120rem;
  height: 50rem;
  margin-top: 2rem;
  position: relative;
}
.sitenav__sss {
  padding-top: 46.7rem;
}
.sitenav__item {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  width: 60rem;
  height: 6.6rem;
  border-radius: 10rem;
  gap: 25.6rem;
  margin-left: auto;
  margin-right: auto;
}
.sitenav__text {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
  padding-left: 3rem;
}
.sitenav__images {
  padding-right: 4px;
  -o-object-fit: cover;
     object-fit: cover;
}

.car__container {
  margin-top: 10rem;
}
.car__text {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
}
.car__texts {
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  width: 57.5rem;
  height: 4.8rem;
  text-align: center;
  margin-top: 1rem;
}
.car__item {
  display: flex;
  gap: 1.6rem;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}
.car__one {
  width: 15.5rem;
  height: 5.8rem;
  background-color: rgb(41, 151, 100);
  border-radius: 10rem;
  padding: 1.9rem 4rem;
}
.car__title {
  color: var(--text-color);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
}
.car__two {
  width: 17rem;
  height: 5.8rem;
  border-radius: 10rem;
  padding: 1.9rem 3rem;
  border: 1.5px solid rgb(51, 51, 51);
}
.car__seven {
  width: 12rem;
  height: 5.8rem;
  border-radius: 10rem;
  padding: 1.9rem 4rem;
  border: 1.5px solid rgb(51, 51, 51);
}

.cars__1 {
  display: flex;
  justify-content: space-between;
  margin-top: 2.4rem;
}
.cars__one {
  width: 38.7rem;
  height: 43.3rem;
  background-color: var(--card-background-color);
  border-radius: 1.6rem;
  padding-left: 2.4rem;
}
.cars__text {
  margin-top: 3rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2;
}
.cars__texts {
  margin-top: 8px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2;
}
.cars__imge {
  margin-top: 1.6rem;
}
.cars__item {
  display: flex;
  align-items: center;
  gap: 6.6rem;
  margin-top: 1.6rem;
}
.cars__items {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.cars__textss {
  display: flex;
  align-items: center;
}
.cars__itemss {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.cars__item1 {
  display: flex;
  align-items: center;
  margin-top: 2.4rem;
  gap: 5.4rem;
}
.cars__items1 {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.cars__itemss1 {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.cars__2 {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.cars__10 {
  width: 17.3rem;
  height: 5.8rem;
  background-color: rgb(41, 151, 100);
  border-radius: 10rem;
  padding: 1.8rem 3rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  justify-content: center;
}
.cars__11 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
}

.hero {
  background-color: var(--card-background-color);
  margin-top: 16rem;
}
.hero__container {
  padding-top: 10rem;
  padding-bottom: 10rem;
  border: 1px solid transparent;
}
.hero__item {
  background-color: var(--border-color);
  border-radius: 2rem 0 0 2rem;
  width: 47rem;
  height: 47.9rem;
}
.hero__hero7 {
  display: flex;
  gap: 2rem;
}
.hero__items {
  background-color: rgb(41, 151, 100);
  border-radius: 0 2rem 2rem 0;
  width: 73rem;
  height: 47.9rem;
}
.hero__active {
  width: 120rem;
  height: 47.9rem;
  display: flex;
}
.hero__one {
  display: flex;
  gap: 8px;
}
.hero__item {
  padding: 7rem;
}
.hero__text {
  color: rgb(66, 133, 244);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
}
.hero__texts {
  font-weight: 500;
  font-size: 3.8rem;
  line-height: 1.3;
  width: 32rem;
  height: 15rem;
  margin-bottom: 3rem;
}
.hero__border {
  width: 32rem;
  height: 2px;
  background-color: #ea4335;
}
.hero__textss {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 3rem;
}
.hero__button {
  width: 19.4rem;
  height: 5.8rem;
  background-color: rgb(255, 255, 255);
  border-radius: 10rem;
  border: 1.5px solid #ee2a7b;
  margin-top: 1.6rem;
}
.hero__text-one {
  color: #ee2a7b;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
  padding: 1.8rem 5rem;
}
.hero__item1 {
  width: 42rem;
  height: 33.3rem;
  background-color: var(--border-color);
  border-radius: 1.6rem;
  margin-top: 5rem;
  margin-left: 4rem;
  padding-top: 2.4rem;
  padding-left: 2.4rem;
}
.hero__item2 {
  width: 27rem;
  height: 33.3rem;
  border-radius: 1.6rem 0 0 1.6rem;
  background-color: var(--border-color);
  margin-top: 5rem;
  padding-top: 2.4rem;
  padding-left: 2.4rem;
}
.hero__1 {
  display: flex;
}
.hero__text1 {
  margin-right: 10px;
}
.hero__text7 {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.2;
}
.hero__text77 {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.1;
}
.hero__images {
  margin-right: 1.2rem;
}
.hero__text5 {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-top: 1.4rem;
  width: 37.2rem;
  height: 16rem;
  border-bottom: 1.5px solid rgb(51, 51, 51);
  padding-bottom: 2.5rem;
}
.hero__title {
  margin-top: 2.4rem;
  display: flex;
  gap: 1.6rem;
}
.hero__image7 {
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__2 {
  display: flex;
  gap: 1.2rem;
}
.hero__text3 {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.2;
}
.hero__text4 {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.1;
}
.hero__heros {
  gap: 5px;
}
.hero__p {
  margin-top: 1.4rem;
  width: 21rem;
  height: 8rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
}
.hero__two {
  margin-top: 8rem;
  display: flex;
  border-top: 1.5px solid rgb(51, 51, 51);
  padding-top: 2.4rem;
}
.hero__text0 {
  margin-left: 2px;
}
.hero__five {
  display: flex;
  gap: 2rem;
  margin-left: 4rem;
  margin-top: 3.7rem;
  align-items: center;
}
.hero__hero {
  display: flex;
  gap: 1.2rem;
}

.name__container {
  margin-top: 16rem;
}
.name__text {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
}
.name__image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3.4rem;
}

.service__text {
  margin-top: 16rem;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2;
}
.service__texts {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  width: 68.4rem;
  height: 4.8rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}
.service__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.service__title {
  width: 59rem;
  height: 21.6rem;
  background-color: var(--card-background-color);
  border-radius: 2rem;
  padding-left: 3.2rem;
  display: flex;
}
.service__1 {
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 1.2;
  width: 21.1rem;
  height: 7.8rem;
}
.service__2 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2;
  width: 35.4rem;
  height: 4.8rem;
}
.service__image {
  width: 6rem;
  height: 6rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 4rem;
  margin-left: 10rem;
}
.service__3 {
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 1.2;
  width: 28.8rem;
  height: 7.8rem;
}
.service__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}
.service__titles {
  width: 59rem;
  height: 21.6rem;
  background-color: var(--card-background-color);
  border-radius: 2rem;
  padding-left: 3.2rem;
  display: flex;
}
.service__4 {
  width: 27.8rem;
  height: 7.8rem;
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 1.2;
}

.safes {
  display: flex;
  background-color: var(--card-background-color);
  border: 1.5px solid rgb(51, 51, 51);
  border-radius: 2rem;
  width: 120rem;
  height: 50rem;
  margin-top: 16rem;
  padding-left: 3.2rem;
  background-image: url("../../images/Ellipse 125.png");
  background-repeat: no-repeat;
  background-position: top 3rem right 11.3rem;
  margin-bottom: 16rem;
}

.safe__text {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 4rem;
}
.safe__texts {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2;
  width: 59rem;
  height: 12rem;
}
.safe__item {
  display: flex;
  gap: 1rem;
  margin-top: 9.4rem;
}
.safe__1 {
  width: 20rem;
  height: 16rem;
  background-color: var(--card-background-color);
  border-radius: 1.6rem;
}
.safe__image {
  padding-left: 15rem;
  padding-top: 2rem;
}
.safe__title {
  margin-left: 1.5rem;
  margin-top: 2.9rem;
  width: 17rem;
  height: 6.6rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.2;
}
.safe__2 {
  width: 20rem;
  height: 16rem;
  background-color: var(--card-background-color);
  border-radius: 1.6rem;
}
.safe__3 {
  width: 20rem;
  height: 16rem;
  background-color: var(--card-background-color);
  border-radius: 1.6rem;
}
.safe__images {
  margin-left: 9.2rem;
  width: 38.6rem;
  height: 45.2rem;
  margin-top: 4.5rem;
}

.footer {
  border-top: 1.5px solid rgb(51, 51, 51);
}
.footer__image {
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.footer__text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2;
  width: 24rem;
  height: 10rem;
}
.footer__texts {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1.6rem;
  margin-top: 6.4rem;
}
.footer__text1 {
  margin-bottom: 1.2rem;
}

.footers {
  display: flex;
  justify-content: space-between;
}

.footer1__text {
  margin-top: 4.4rem;
}
.footer1__border {
  display: flex;
  border-top: 1.5px solid rgb(51, 51, 51);
  padding-top: 4rem;
  margin-bottom: 4rem;
}
.footer1__item {
  margin-right: 4.9rem;
}
.footer1__texts {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1.6rem;
}
.footer1__title {
  font-weight: 500;
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}
.footer1__item1 {
  margin-right: 5.2rem;
}
.footer1__image {
  display: flex;
  gap: 1.5rem;
}
.footer1__image1 {
  margin-left: 18rem;
}

.footers1 {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
}/*# sourceMappingURL=style.css.map */